*,
*:after,
*:before {
  box-sizing: border-box;
}

table {
  border: none;
  border-collapse: collapse;
}
thead {
  font-size: 14px;
  font-weight: semibold;
  color: #4a4a4a;
  text-transform: uppercase;
  background-color: rgb(242, 241, 241);
}
td,
th {
  padding: 15px;
}
tr:hover {
  background-color: #f5f8fc;
}
.progress progress:hover,
.progress div:hover {
  cursor: pointer;
}
tr {
  border-top: 1px solid #e6e6e6;
}
td.progress {
  width: 150px;
}
td progress {
  display: inline-block;
  max-width: 100%;
}
td.actions svg {
  width: 30px;
  height: 30px;
  fill: lightgrey;
}
td.actions svg:hover {
  cursor: pointer;
  fill: black;
}
.SecondaryOptions {
  position: relative;
}
.SecondaryOptions * {
  margin: 0;
  padding: 0;
}
.SecondaryOptions .inner {
  border: 1px solid rgb(242, 241, 241);
  position: absolute;
  border-radius: 2px;
  border-radius: 10px;
  left: -50px;
  z-index: 100;
  display: flex;
  flex-direction: column;
}
.inner button {
  all: unset;
  padding: 8px;
  background: white;
  border-bottom: 1px solid rgb(242, 241, 241);
}
.inner button:last-child {
  border-bottom: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
button:hover {
  cursor: pointer;
  background-color: #f5f8fc;
}
button:active {
  background: hotpink;
}
