table {
  border: none;
  border-collapse: collapse;
}
thead {
  font-size: 14px;
  font-weight: semibold;
  color: #4a4a4a;
  text-transform: uppercase;
  background-color: rgb(242, 241, 241);
}
td,
th {
  padding: 15px;
}
tr:hover {
  background-color: #f5f8fc;
}
.progress progress:hover,
.progress div:hover {
  cursor: pointer;
}
tr {
  border-top: 1px solid #e6e6e6;
}
td.progress {
  width: 150px;
}
td progress {
  display: inline-block;
  max-width: 100%;
}
td.actions svg {
  width: 30px;
  height: 30px;
  fill: lightgrey;
}
td.actions svg:hover {
  cursor: pointer;
  fill: black;
}
