*,
*:after,
*:before {
  box-sizing: border-box;
}
main {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
}
main > * {
  grid-column: 2/-2;
}
nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav > * {
  margin: 0;
  padding: 6px;
}
table {
  border: none;
  border-collapse: collapse;
}
thead {
  font-size: 14px;
  font-weight: semibold;
  color: #4a4a4a;
  text-transform: uppercase;
  background-color: rgb(242, 241, 241);
}
td,
th {
  padding: 15px;
}
td.start {
  text-align: start;
}
td.center {
  text-align: center;
}
td.end {
  text-align: end;
}
tr:hover {
  background-color: #f5f8fc;
}
.progress progress:hover,
.progress div:hover {
  cursor: pointer;
}
tr {
  border-top: 1px solid #e6e6e6;
}
td.progress {
  width: 150px;
}
td progress {
  display: inline-block;
  max-width: 100%;
}
td.actions svg {
  width: 30px;
  height: 30px;
  fill: lightgrey;
}
td.actions svg:hover {
  cursor: pointer;
  fill: black;
}
.SecondaryOptions {
  position: relative;
}
.SecondaryOptions * {
  margin: 0;
  padding: 0;
}
.SecondaryOptions .inner {
  border: 1px solid rgb(242, 241, 241);
  position: absolute;
  border-radius: 2px;
  border-radius: 10px;
  left: -50px;
  z-index: 100;
  display: flex;
  flex-direction: column;
}
.inner button {
  all: unset;
  padding: 8px;
  background: white;
  border-bottom: 1px solid rgb(242, 241, 241);
}
.inner button:last-child {
  border-bottom: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
button:hover {
  cursor: pointer;
  background-color: #f5f8fc;
}
button:active {
  background: lightblue;
}

.AssigneeForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.AssigneeForm button:hover {
  cursor: pointer;
}
.AssigneeForm button:hover:disabled {
  cursor: not-allowed;
}
.AssigneeForm button:hover:not(:disabled) svg {
  fill: crimson;
}
.AssigneeForm button {
  all: unset;
}

.titleLabel {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
input,
label,
textarea {
  display: block;
}
label {
  margin-bottom: 1rem;
}
.Settings .setting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.Task .description {
  white-space: pre-line;
}
.TaskRow.timeExceeded {
}

.Overview header p {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Overview header {
  margin: 1rem 0;
}
